@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 100px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4411e8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4311e8b9;
}
